main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.size {
  height: 100px;
  /* width: 100px; */
  border: 2px solid black;
  text-align: center;
  font-size: 50px;
}

#horse0 {
  grid-row-start: 1;
  grid-row-end: span 1;
  align-self: stretch;
}

#horse1 {
  grid-row-start: 2;
  grid-row-end: span 1;
  align-self: stretch;
}

#horse2 {
  grid-row-start: 3;
  grid-row-end: span 1;
  align-self: stretch;
}

#horse3 {
  grid-row-start: 4;
  grid-row-end: span 1;
  align-self: stretch;
}

#horse4 {
  grid-row-start: 5;
  grid-row-end: span 1;
  align-self: stretch;
}

#horse5 {
  grid-row-start: 6;
  grid-row-end: span 1;
  align-self: stretch;
}

#horse6 {
  grid-row-start: 7;
  grid-row-end: span 1;
  align-self: stretch;
}

#horse7 {
  grid-row-start: 8;
  grid-row-end: span 1;
  align-self: stretch;
}

.post {
  grid-column-end: span 1;
}

.spot1 {
  grid-column-start: 2;
  grid-column-end: span 1;
}

.spot2 {
  grid-column-start: 3;
  grid-column-end: span 1;
}

.spot3 {
  grid-column-start: 4;
  grid-column-end: span 1;
}

.spot4 {
  grid-column-start: 5;
  grid-column-end: span 1;
}

.spot5 {
  grid-column-start: 6;
  grid-column-end: span 1;
}

.spot6 {
  grid-column-start: 7;
  grid-column-end: span 1;
}

.spot7 {
  grid-column-start: 8;
  grid-column-end: span 1;
}

.spot8 {
  grid-column-start: 9;
  grid-column-end: span 1;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#card-deck,
#discard {
  height: 200px;
  width: 100px;
  border: 2px solid black;
}

#raceAgain {
  display: ;
  height: 100px;
  width: 200px;
}

a {
  text-decoration: none;
}
